<footer id="footer" class="footer">
<div class="container">
  <div class="text-center">
    TRIP-ON™ 2017 - Created by
    <a href="#">
      Sumit Arya
    </a>
    as part of
    <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">
      Colt Steele's Web Developer Bootcamp
    </a>
  </div>
</div>
</footer>   
   </body>
</html>