

body{
	/*background: url(https://lh3.googleusercontent.com/aeDT-f0n96Nwk5g6MIYoCmT4ZuMMRdHPQOS65MUlsmdYaTSLkvpYw4Samm5xLzw54jagBylw1JkPHmJpRqAVTqpCN-yiO0vrFTVyug6fCcDJQCw7WB43GStOJGWB1kWKNyANpngJ8TnYC_WlgkFAZlBTpbzMT1zY5lfVrIW01e92A1Lxr43eOmvxk8Yuj6YcVRq8FczAUTNlZsIC-encxC53hUfoh-2cETFOak0kjjlJRx0VTyMOEFu4YsHtgsu5FIcyIOq6g6QOeZyFFeJEhCjEXQZVNGuwK1xORmyCRMPvBDDdX6uAPhQ4rzYn8aZkc1aKStzfM6HPegt-UK5iEefHxXxmHG1T95SM3BRXKL1vvqT8bHAjmDHIlM9InSpf0Zzc8pAurTpy0Tt1tHmP9cFl9qzkZ5ZvT4wgXpifnG56dGmEFJS-0AWQqx7ifen45HP3-xWjJpNrUc1M5DVaVFSjk7cpIx1xvGP5RZI-46Dbu9Ve1Al9V3eKQRsjcmu3g6bY5jVMn06nnryV3C02X3yrO0FNpyCjICntgUTLfZQsGUIiEG8A7yX7IhR8jUbzY-6mubBieVQlhZvjnX5qIBYQyN1Oy3fYpIrKhzUsoq-_7Q-B_gKFrewvFQ=w1017-h676-no);*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-size:100%;*/
	background: url(https://lh3.googleusercontent.com/2zcI7UBwqRjV-O2IE0JFIcyKEHb3QRsFET_2YInkpc4hhwFkRsmoQvCJiPot6O5exzkaK9L8-GOmOxUl9a-aAjuiy02kguaRC1rZk4UOYT5zTPEDRn_lMWlfB92aadqFprxlp1hIqUWuZnVw4aezDxleCTl1gFYnA_jtF4TigcJczLpGepcawaZAMiLKPlHXXAeuGwSureUY2o8_VbqhmpbFXFJPeZaGRnJkam4IwHvacWMs7k7NEdsHEDOy689PgsxMTIZ62WGmdatdjnyMiOfmxSabk4xVKTMunSU-XXibXFF68OxkBP3TAZ7aU7b1rjOItXSw5iV-lhbD1U5pH6yoGaDjL9lwBN9AXNicpXVmg3N98WBjQVRW7LbaK2LQHM71Npd3JdMvIlr6WwQKXJYPqZUWONq__F5nSL35Oa_3BpAK32gYH3aI8nZTS5cdn-hq5uU_WFQYvmeWu63IyKMW0Or_7TtXH8tUhG7qI90HXffBIQA2MAoPRrMcJj8Tw16Za6MBJApfaRX4M0ssDnAzY-xdooXDiRzqsi9XDIFODotb7UbcEbHagyk3EqMK8Mt5UUukdda9AZBYFOAclGfCp3lkr3sSwuFXKwbznlqxyD2fDR-J37Gsuux6QQLD20gw_jUhRa97D_bivk74dZBHIipdm8XKFY07BI0zSgg0NuU=w1294-h617-no);
    
}
#content{
	text-align: center;
	padding-top: 15%;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: white;

	/*font-color:white;*/
}
h1{
	font-weight: 700;
	font-size: 5em;
	text-shadow: 1px 1px 2px black; 

}

h3{
	text-shadow: 1px 1px 2px black; 
}

h4{
    text-shadow: 1px 1px 2px black;
}

html{
	height: 100%;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


/*h1, h3{
	color: white;
}*/