

body{
	/*background: url(https://lh3.googleusercontent.com/aeDT-f0n96Nwk5g6MIYoCmT4ZuMMRdHPQOS65MUlsmdYaTSLkvpYw4Samm5xLzw54jagBylw1JkPHmJpRqAVTqpCN-yiO0vrFTVyug6fCcDJQCw7WB43GStOJGWB1kWKNyANpngJ8TnYC_WlgkFAZlBTpbzMT1zY5lfVrIW01e92A1Lxr43eOmvxk8Yuj6YcVRq8FczAUTNlZsIC-encxC53hUfoh-2cETFOak0kjjlJRx0VTyMOEFu4YsHtgsu5FIcyIOq6g6QOeZyFFeJEhCjEXQZVNGuwK1xORmyCRMPvBDDdX6uAPhQ4rzYn8aZkc1aKStzfM6HPegt-UK5iEefHxXxmHG1T95SM3BRXKL1vvqT8bHAjmDHIlM9InSpf0Zzc8pAurTpy0Tt1tHmP9cFl9qzkZ5ZvT4wgXpifnG56dGmEFJS-0AWQqx7ifen45HP3-xWjJpNrUc1M5DVaVFSjk7cpIx1xvGP5RZI-46Dbu9Ve1Al9V3eKQRsjcmu3g6bY5jVMn06nnryV3C02X3yrO0FNpyCjICntgUTLfZQsGUIiEG8A7yX7IhR8jUbzY-6mubBieVQlhZvjnX5qIBYQyN1Oy3fYpIrKhzUsoq-_7Q-B_gKFrewvFQ=w1017-h676-no);*/
	background-size: cover;
	background-position: center;
	/*background-size:100%;*/
	background: url(https://lh3.googleusercontent.com/qDR_SOvFVGxyDxfebGTtDU9xnWNEx8eg13yunvaTuQCIbnxoebMuTBwT-vBbv_LiDaZ96YUvJzhPPUNNxYGdhR4q-FNP0ZgqtEJYPuD9VZ-69YMsG9Z9h06JAgIk5H6awrmDWFJmly44YyWrSlGz2m8y8lFuqgPWM_oOgSADQMX7Y5TebS4bd4QAjprrYObkB1hrwdFak-m6HTVQf1rgDbYOBv0DqlRcSXL8ucfqO8-vZMXu8Vjmvs549WF6zYSguTCVaJTKK9nqtXsgD_87tX7O4c8sxHgrE8RHp_DetXMeE5YNzubBM5fCw8GSKXjLAqxOM6gTtzO9Ud6jxvVFaOCPP1mZ6pmTC99ZkTdCpfa06jeLLqashFtByRWlU_1ZtlwLnJof8E2XHbm1-6hIrPUPpF_D6Gah2SbpuuxVPtHwYBFeIy-M-BCI79frWJvI86TteHfKDsEVhjs_rtG5FCC0DqRonnamR6-PVV5L8Hk8SopCR4mVTI04t4VbzSHYiWwn6any9_odhPJHSamAGbqUGnFB0UEjJ6c3ctdm6ERSFq_RsOQqkJfM38unNe9sbNhmoQ6yL_tny2JgbG2qQxTNHXbKg93r1WRdWFmM3Ss6NGk3jCWKdl79goNLGrsurI-FbpPYCnO_H504wbtYVw9CeZ3qcSt5ZtXJ2qJ6_OTHmDU=w1294-h629-no);
    
}
#content{
	text-align: center;
	padding-top: 15%;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: white;

	/*font-color:white;*/
}
h1{
	font-weight: 700;
	font-size: 5em;
	text-shadow: 1px 1px 2px black; 

}

h3{
	text-shadow: 1px 1px 2px black; 
}

h4{
    text-shadow: 1px 1px 2px black;
}

html{
	height: 100%;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


/*h1, h3{
	color: white;
}*/