.thumbnail img {
    width:100%;
}

.thumbnail{
    padding:0px;
}

.thumbnail .caption-full{
    padding:9px;
}

#delete-form{
    display: inline;
}

.footer {
    background: #e7e7e7;
}
.footer .container {
    padding-top: 4px;
}



.footer,
.page-wrap:after {
    height: 26px;
}

.footer {
    color: #777;
     position: relative;
     margin-top: 147px;
}